<section class="vh-100">
  <div class="container-fluid h-custom">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-md-9 col-lg-6 col-xl-5">
        <img
          src="https://cdn4.iconfinder.com/data/icons/communication-chat-mail-contact/162/Users-512.png"
          class="img-fluid"
          alt="Sample image"
        />
      </div>
      <div class="col-md-8 col-lg-6 col-xl-4 offset-xl-1">
        <form #loginForm="ngForm" (ngSubmit)="handleFormSubmit(loginForm)">
          <div
            class="d-flex flex-row align-items-center justify-content-center justify-content-lg-start"
          >
            <p class="lead fw-normal mb-0 me-3">Sign in with</p>
            <button type="button" class="btn1 btn-floating mx-1">
              <i class="fa fa-facebook-f"></i>
            </button>

            <button type="button" class="btn2 btn-floating mx-1">
              <i class="fa fa-twitter"></i>
            </button>

            <button type="button" class="btn3 btn-floating mx-1">
              <i class="fa fa-linkedin"></i>
            </button>
          </div>

          <div class="divider d-flex align-items-center my-4">
            <p class="text-center fw-bold mx-3 mb-0">Or</p>
          </div>

          <!-- Email input -->
          <div class="form-outline mb-4">
            <input
              type="email"
              id="form3Example3"
              class="form-control form-control-lg"
              placeholder="Enter a valid email address"
              name="email"
              ngModel
              required
              #email="ngModel"
              pattern="^[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,}$" 

            />
            <label class="form-label" for="form3Example3">Email address</label>
            @if(email.invalid&&email.touched) {
                <div class="form-text text-danger ">
                    @if(email.errors?.['required']){
                        <small> this field is required</small>
                    }
                    @if(email.errors?.['pattern']){
                        <small> this field should match email pattern</small>
                    }
                </div>
            }
          </div>

          <!-- Password input -->
          <div class="form-outline mb-3">
            <input
              type="password"
              id="form3Example4"
              class="form-control form-control-lg"
              placeholder="Enter password"
              name="password"
              ngModel
              #password="ngModel"
              required
            />
            <label class="form-label" for="form3Example4">Password</label>
            @if(password.invalid&&password.touched) {
                <div class="form-text text-danger ">
                    @if(password.errors?.['required']){
                        <small> this field is required</small>
                    }
                    @if(password.errors?.['pattern']){
                        <small> this field should match email pattern</small>
                    }
                </div>
            }
          </div>

         <!-- <div class="d-flex justify-content-between align-items-center">
             Checkbox 
            <div class="form-check mb-0">
              <input
                class="form-check-input me-2"
                type="checkbox"
                value=""
                id="form2Example3"
              />
              <label class="form-check-label" for="form2Example3">
                Remember me
              </label>
            </div>
            <a href="#!" class="text-body">Forgot password?</a>
          </div> -->

          <div class="text-center text-lg-start mt-4 pt-2">
            <button routerLink="/" routerLinkActive="active_link" type="submit" class="btn" (click)="handleAddValue()">
              Login
            </button>
            <p class="small fw-bold mt-2 pt-1 mb-0">
              Don't have an account? <a href="#!" class="link" routerLink="/register">Register</a>
            </p>
          </div>
        </form>
      </div>
    </div>
  </div>
</section>
